
/**{
    margin: 0;
    padding: 0;
    font-size: 1em;
}*/

header a{
    color: white;
}
header a:hover{
    color: grey;
    text-decoration: none;
}
p{
    text-align: justify;
}
ul{
    list-style: circle;
}
.cor-de-fundo{
    background-color: rgba(0, 0, 0, 0.959);
}

/**estilizando o bootstrap*
nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0,0.6);
}*/